---
# We'll use defaults from the LLVM style, but some small modifications.
BasedOnStyle: LLVM

# A style similar to the Linux Kernel style:
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false

# Added by Ale:
AllowShortFunctionsOnASingleLine: false
---
